.footer {
  &-main {
    background-color: black;
    color: #ffffff;
    border: 1px solid gray;
    height: 250px;
  }
  &-column{
      //margin: 8px;
      //margin-left: 16px;
      margin-top: 16px;
      font-size: 22px;


  }

}
